* {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.8vw;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-wrap: break-word;
  width: 100
}
@media (max-width: 700px) {
  * {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    word-wrap: break-word;
    width: 100
  }
}
input[type='radio'] {
  accent-color: rgb(16, 16, 52);
}

.body {



  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(255, 255, 255);


}

table {

  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#pay:hover {
  background-color: rgb(240, 142, 33);

}

#pay_cash:hover {
  background-color: rgb(240, 142, 33);

}



.tx {
  color: rgb(75, 74, 74)
}
#rect {
    width: 100%;
    height: 550px;
    background: rgb(16, 16, 52);
    border-radius: 25px;
}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='orange' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: rgb(0, 0, 0);
}

/* change hamburger button border color */
.navbar-light button.navbar-toggler {
  border-color: rgb(0, 0, 0);
}

.btn-responsive {
  white-space: normal !important;
  word-wrap: break-word;
}


#button:hover{
    
    background-color: white;
    color:rgb(240,142,33)
  }

  #logo {
    position: relative;
    float: left;
    width:  125px;
    height: 125px;

}

.navbar-nav > li{
    padding-left:35px;
    padding-right:35px;
    
  }
  #tab{
    color:rgb(0, 0, 0);
  }
  .nav-item:hover{
    
    background-color:rgb(240,142,33);
    border-radius: 20px;
  }
  .form {
    color:rgb(112, 109, 109);
    background-color:white;
    padding:2px;
    width:90%;
    font-size: 60%;
    padding-left: 5px;
    border-radius: 25px;
    text-align: left;
  }
  @media (max-width: 700px) {
    .form {
      color:rgb(112, 109, 109);
      background-color:rgb(255, 255, 255);
      padding:2px;
      width:68%;
      font-size: 100%;
      padding-left: 5px;
      border-radius: 25px;
      text-align: left;
    }
  }


  #fu{
    color:white;
    font-size: 80%;
  }
  @media (max-width: 700px) {
    #fu{
      color:rgb(255, 255, 255);
      font-size: 100%;
      
    }

  }

  .op {
    font-size: 80%
  }
  /*map*/
  #googleMap {
    width: 45%;
    height: 500px;
    padding-top:25px;
    position:relative;
    top:0%;
    left:2%;
    border-radius: 25px;
    
  }
  @media (max-width: 700px) {
    #googleMap { display: none; }
}

