* {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.8vw;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    word-wrap: break-word;
    width: 100
}
@media (max-width: 1000px) {
    * {
      font-family: 'Trebuchet MS', sans-serif;
      font-size: 16px;
      color: rgb(0, 0, 0);
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      word-wrap: break-word;
      width: 100
    }
  }
@media (max-width: 1000px) {
    #carousel_p{
        font-size: 10px;
    }
}
#button:hover {

    background-color: white;
    color: rgb(240, 142, 33)
}

#logo {
    position: relative;
    float: left;
    width: 125px;
    height: 125px;

}
#datap{
    color:rgb(85, 85, 85)
  }
  #datap:hover{
    color:black
  }
  .vertical-line {
    display: inline-block;
    width: 1px;
    height: 36px; /* Set the height of the line according to your requirement */
    background-color: rgb(85, 85, 85); /* Set the color of the line */
    margin: 0 10px; /* Set the margin according to your requirement */
    vertical-align: middle; /* To align the line with the text in the <a> tags */
  }
  
.navbar-nav>li {
    padding-left:15px;
    padding-right:25px;

}

#tab {
    color: rgb(0, 0, 0);
}

.nav-item:hover {

    background-color: rgb(240, 142, 33);
    border-radius: 25px;
}

.cont {
    position: relative;

    width: 100%;
    max-width: 50%;

    padding: 0;
    margin: 0;
}

.cont img {
    width: 100%;
    height: 100%;
}



.container-fullwidth .btn:hover {
    background-color: rgb(240, 142, 33);
}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='orange' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: rgb(0, 0, 0);
}

/* change hamburger button border color */
.navbar-light button.navbar-toggler {
    border-color: rgb(0, 0, 0);
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

#circle {
    width: 350px;
    height: 100px;
    -webkit-border-radius: 1755px;
    -moz-border-radius: 175px;
    border-radius: 175px;
    background: rgb(79, 79, 174);
}

#rect {
    width: 100%;
    height: 500px;
    background: rgb(16, 16, 52);
    border-radius: 25px;
}

#rect1 {
    width: 100%;

    background: rgb(16, 16, 52);
    border-radius: 25px;
}

#fa {
    color:
        rgb(254, 196, 45)
}





.body {



    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(255, 255, 255);


}