<!DOCTYPE html>
<html lang="de">

<head>
    <title>Book Jetzt!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='book.css')}}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



</head>

<body class="body">
    {% if cookies_check() %}
    {# then user has already consented so no requirement for consent banner #}
    {% else %}
    {# show a cookie consent banner #}
    <div id="cookie-consent-container" class="cookie-banner fixed-bottom bg-dark text-white py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h3 style="color:white"><i class='fas fa-cookie-bite' style='color:rgb(240,142,33)'></i>
                        Drittanbieter-Cookies</h3>
                    <p class="mb-0" style="color:white;font-size: 14px;">Wir verwenden Cookies von Drittanbietern, um
                        Inhalte und Anzeigen zu personalisieren und den Website-Verkehr zu analysieren.</p>
                        <a style="font-size: 14px;" href="/datenschutz">Mehr erfahren</a>
                </div>
                <div class="col-md-4 text-md-end">
                    <button id="cookie-consent" type="button" class="btn btn-outline-light btn-sm"
                        data-bs-dismiss="cookie-banner">Akzeptieren</button>

                </div>
            </div>
        </div>
    </div>

    <script>
        var fn = function () {
            document.cookie = "cookie_consent=true";
            document.getElementById('cookie-consent-container').hidden = true;
        };

        document.getElementById('cookie-consent').onclick = fn;

    </script>
    {% endif %}
    <div class="container-fullwidth m-0 p-0">



        <nav class="navbar navbar-expand-sm bg-light navbar-light   ">
            <div class="container-fluid">
                <a class="navbar-brand" ><img id="logo" style="position:relative;top:2%" alt="logo"
                        src="{{url_for('static', filename='autoblitz_logo-removebg.png')}}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" id="tab" href="/"><i id="tab" class="fa fa-home"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="tab" class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown">unsere Dienstleistungen</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/taxi">Personenbeförderung</a></li>
                                <li><a class="dropdown-item" href="/ambulance">Krankentransport</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a id="tab" class="nav-link" href="/vacancy">Stellenangebote</a>
                        </li>
                        <li class=" nav-item">
                            <a id="tab" class="nav-link" href="/about_us">Über uns</a>
                        </li>



                        <li class="nav-item dropdown">
                            <a id="tab" class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown"><i id="tab" class="fa fa-address-book"></i></a>
                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="/contact_us" data-bs-toggle="tooltip"
                                        title="Mail uns" style="text-align:center">Kontaktieren Sie uns <i
                                            class="fa fa-envelope" aria-hidden="true"></i></a>
                                </li>
                                <li hidden><a class="dropdown-item" href="#" data-bs-toggle="tooltip" title="Help"
                                        style="text-align:center"> <i class="fa fa-question-circle fa-lg"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="tab" class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown"><i id="tab" class="fa fa-shopping-cart"></i></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/order_status">Buchungsstatus überprüfen
                                    </a></li>
                                <li><a class="dropdown-item" href="/cancel_booking">Buchung stornieren
                                    </a></li>

                            </ul>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
        
        <br>
        <br>

        <!--booking type buttons-->
        <div class="row">
            <div id="t" class="col-sm-6">
                <a id="tbtn" type="button" onclick="taxi()" style="padding: 10px;background-color: rgb(13,110,253);border-radius: 50px;position:relative;left:21%;right:30%;top:0.5vh;border-radius: 25px;"><i
                        id="fu" class='fa fa-car'
                        style="color:rgb(255, 255, 255);font-size:100%">
                        Personenbeförderung</i></a>
                <br>
                <br>
            </div>
            <div id="a" class="col-sm-6">
                <a id="abtn" type="button" onclick="ambulance()"
                    style="padding: 10px;background-color: rgb(13,110,253);border-radius: 50px;position:relative;left:25%;right:30%;top:0.5vh;border-radius: 25px;"><i
                        id="fu" class='fa fa-ambulance' style="color:rgb(255, 255, 255);font-size:100%">
                        Krankentransport</i></a>
            </div>
            <br>
            <br>
        </div>
        <br>


        <script>
            function taxi(){
            if (document.getElementById("taxi").style.display == 'none') {
                document.getElementById("abtn").style.background = "rgb(13,110,253)"
                document.getElementById("abtn").style.WebkitBorderRadius = "50px"
                document.getElementById("ambulance").style.display = "none"
                document.getElementById("taxi").style.display = "block"
                document.getElementById("tbtn").style.background = "rgb(240, 142, 33)"

            }
            else if (document.getElementById("taxi").style.display == 'block') {
                document.getElementById("taxi").style.display = "none"
                document.getElementById("tbtn").style.background = "rgb(13,110,253)"

            }
        }

            function ambulance() {
                if (document.getElementById("ambulance").style.display == 'none') {
                    document.getElementById("tbtn").style.background = "rgb(13,110,253)"
                    document.getElementById("tbtn").style.WebkitBorderRadius = "50px"
                    document.getElementById("taxi").style.display = "none"
                    document.getElementById("ambulance").style.display = "block"
                    document.getElementById("abtn").style.background = "rgb(240, 142, 33)"

                }
                else if (document.getElementById("ambulance").style.display == 'block') {
                    document.getElementById("ambulance").style.display = "none"
                    document.getElementById("abtn").style.background = "rgb(13,110,253)"

                }
            }
        </script>





        <div id="taxi" class="container-fullwidth" style="display:none">
            <div class="row">
                <div class="col-sm-6"
                    style="background-color:rgb(16, 16, 52);border-radius:25px;padding:25px;max-width:100%">
                    <form id="booking" autocomplete="on">
                        <label for="Name"> <i id="fu" class="fa fa-user"> :</i>
                        </label>
                        <input id="Name" name="Name" class="form" type="text" placeholder="Voller Name" required>

                        <br>
                        <br>

                        <label for="Phone"><i id="fu" class="fa fa-phone"> :</i>
                        </label>
                        <input id="Phone" class="form" name="Phone" type="tel"
                            placeholder="Rufnummer(bitte mit Landesvorwahl)" required><br><br>



                        <label for="Mail"><i id="fu" class="fa fa-envelope"> :</i>
                        </label>
                        <input id="Mail" name="Mail" class="form" type="email" placeholder="Example@domain.com"
                            pattern="@" title="must include @" required>

                        <br>
                        <br>

                        <label for="Pick-up"><i id="fu" class="fa fa-dot-circle-o" aria-hidden="true"> :</i></label>

                        <input id="Pick-up" name="Pick-up" class="form" type="text" style="width:60%" placeholder="Abholort" />
                        <input id="Pick-h-no" name="Pick-h-no" class="form" type="number" min="1" style="position:relative;left:3%;width:20%" placeholder="Hausnummer"/>

                        <br>
                        <br>
                        <label for="Drop"><i id="fu" class="fa fa-map-marker" aria-hidden="true"> : </i></label>

                        <input id="Drop" name="Drop" class="form" type="text" style="width:60%" placeholder="Zielort" />
                        <input id="Drop-h-no" name="Drop-h-no" class="form" type="number" min="1" style="position:relative;left:3%;width:20%" placeholder="Hausnummer"/>

                        <br>
                        <br>


                        <label for="Vehicle"><i id="fu" class="fa fa-car" aria-hidden="true"> :</i></label>
                        <select id="Vehicle" name="Vehicle" class="form">
                            <option class="op" value="mini">PKW für bis zu 4 Personen und 2 Koffer</option>
                            <option class="op" value="combi">Kombi für bis zu 4 Personen und 4 Koffer</option>
                            <option class="op" value="wagen">Großraumwagen für bis zu 8 Personen und mehr als 4 Koffer
                            </option>


                        </select><br><br>


                        <input class="form" id="Date" name="Date" type="date" min="{{ today }}" max="{{ future }}"
                            style="position:relative;left:6%;width:30%">

                        <script>
                            // Get the current date and add 1 day to get the minimum selectable date
                            var today = new Date();
                            today.setDate(today.getDate());

                            // Get the date 7 days in the future to use as the maximum selectable date
                            var future = new Date();
                            future.setDate(future.getDate() + 6);

                            // Format the dates in ISO format (YYYY-MM-DD)
                            var todayFormatted = today.toISOString().split('T')[0];
                            var futureFormatted = future.toISOString().split('T')[0];

                            // Set the 'min' and 'max' attributes of the input element
                            document.getElementById('Date').setAttribute('min', todayFormatted);
                            document.getElementById('Date').setAttribute('max', futureFormatted);
                        </script>

                        <input class="form" id="Time" name="Time" type="time"
                            style="position:relative;left:30%;width:30%" required>


                        <br>
                        <br>
                        <p class="fs-5" style="color:rgb(255, 255, 255)">Durch das klicken auf der Schaltfläche "Preis
                            prüfen", akzeptieren Sie unsere <a class="fs-5" href="/datenschutz" target="_blank">DSGVO
                                und AGB.</a></p>


                        <div class="container-sm">
                            <button name="sub"
                                style="position:relative;left:1%;background-color:rgb(78, 192, 78);border-radius: 25px;width:fit-content"
                                type="button" id="check-button" class="btn btn-primary  " onclick="display()">Preis
                                prüfen</button>
                            <button id="res" name="res"
                                style="position:relative;left:5%;background-color:red;border-radius: 25px;" type="reset"
                                class="btn btn-primary  ">Reset</button>
                        </div>




                    </form>

                </div>
                <div id="googleMap" class="col-sm-6 hidden-sm hidden-xs">

                </div>
            </div>
            <!--booking details-->
            <div id="Price" class="container-fullwidth" style="display:none;padding-top:10px;">

                <hr>
                <h3 style="color:rgb(240,142,33)">Buchungsdetails:</h3>
                <hr>
                <i class="fa fa-user"> : <txt id="name" class="tx"></txt></i>
                <br>
                <i class="fa fa-phone"> : <txt id="phone" class="tx"></txt></i><br>
                <i class="fa fa-envelope"> : <txt id="mail" class="tx">
                    </txt></i>
                <br>
                <i class="fa fa-dot-circle-o" aria-hidden="true"> : <txt id="start" class="tx"></txt></i>
                <br>
                <i class="fa fa-map-marker" aria-hidden="true"> : <txt id="end" class="tx">
                    </txt></i>
                <br>
                <i class="fa fa-road" aria-hidden="true">: <txt id="kms" class="tx"></txt></i>
                <i class="fa fa-clock-o" aria-hidden="true" style="position:relative;left:10%">: <txt id="dur"
                        class="tx"></txt></i><br>
                <i class="fa fa-calendar-check-o" aria-hidden="true">: <txt id="book-datetime" class="tx"></txt></i>
                <br>
                <i class="fa fa-users" aria-hidden="true"> : <txt id="passengers" class="tx"></txt></i><br>
                <i class="fa fa-suitcase" aria-hidden="true"> : <txt id="luggage" class="tx"></txt></i>
                <br>
                <div id="wait" style="display:none">
                    <i class="fa fa-hourglass-start" aria-hidden="true"> : <txt id="waiting"
                            style="color:red;font-size: 80%;" class="tx">Ihre Wartezeit
                            beträgt etwa eine Stunde. Vielen Dank für Ihr Verständnis.</txt></i>
                </div>
                <br>

                <hr>
                <h3 style="color:rgb(240,142,33)">Preis Details:</h3>
                <hr>

                <table>
                    <tr>
                        <th>Beschreibung</th>
                        <th>Preis (<i class="fa fa-eur" aria-hidden="true"></i>)</th>

                    </tr>
                    <tr>
                        <td>Basisbetrag</td>
                        <td>4.30</td>

                    </tr>
                    <tr>
                        <td>Zusätzlicher Betrag</td>
                        <td id="additional"></td>

                    </tr>
                    <tr>
                        <td>zusätzliche Kosten für weite Abholentfernungen</td>
                        <td id="Hadditional"></td>

                    </tr>
                    <tr>
                        <td>Preis pro km (mindestens 1 km wird berechnet)</td>
                        <td>2.20</td>

                    </tr>

                    <tr style="background-color:rgb(16, 16, 52)">
                        <td class="fw-bold imp">
                            <txt style="color:white ">GESAMT</txt>
                        </td>
                        <td id="total" class="fw-bold" style="color:rgb(240,142,33)"></td>

                    </tr>

                </table>
                <p class="fs-6" style="color:rgb(85, 85, 80)"><sup>*</sup>Dies ist nur ein geschätzter Preis, der auf
                    unserem Client-Server berechnet wird. Der tatsächliche Preis wird auf der Checkout-Seite nach der
                    Validierung der Details angezeigt.</p>
                <br>
                <form method="post">
                    <hr>
                    <h3 style="color:rgb(240,142,33)">Bitte wählen Sie eine Zahlungsmethode:</h3>
                    <hr>



                    <input type="radio" name="payment" value="stripe" id="stripe"
                        onclick="document.getElementById('pay_cash').style.display ='none';document.getElementById('pay').style.display ='block'">
                    <label for="stripe"><i class="fa fa-cc-paypal" hidden></i> <i class="fa fa-cc-visa"></i> <i
                            class="fa fa-cc-mastercard"></i> <i class="fa fa-university"></i></label><br>

                    <input type="radio" name="payment" value="cash" id="cash"
                        onclick="document.getElementById('pay').style.display ='none';document.getElementById('pay_cash').style.display ='block'">
                    <label for="cash"><i class="fa fa-eur" aria-hidden="true"></i> <i
                            class="fa fa-money"></i></label><br>
                    <div style="padding-top:10px;padding-bottom:10px;">

                        <a id="pay" class="btn btn-primary btn-lg mb-3 flex-fill" type="submit"
                            style="display:none;border-radius:25px;color: white !important;" href="/checkout"> </a>

                        <a id="pay_cash" class="btn btn-primary btn-lg mb-3 flex-fill" type="submit"
                            style="display:none;border-radius:25px; color:white !important" href="/cash_booking">Jetzt
                            Fahrer rufen</a>

                    </div>

                </form>


            </div>
            <br>
            <br>
        </div>


        <!--ambulance booking-->
        <div id="ambulance" class="container-fullwidth" style="display:none">
            <div class="row">
                <div class="col-sm-12"
                    style="background-color:rgb(16, 16, 52);border-radius:25px;padding-left:12%;padding-top:3%;padding-bottom:3%;padding-right:10%;max-width:100%">
                    <br>
                    {% for message in get_flashed_messages()%}

                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}

                    <form autocomplete="on" action="/ambulance_result" method="post" enctype="multipart/form-data">
                        <label for="PName"> <i id="fu" class="fa fa-user"> :</i>
                        </label>
                        <input id="PName" name="PName" class="form" type="text" placeholder="Patientenname "
                            style="width:40%" required>

                        <label for="PAge" style="position:relative;left:5%"> <i id="fu" class="fa fa-heartbeat"> :</i>
                        </label>
                        <input id="PAge" name="PAge" class="form" type="number" placeholder="Alter "
                            style="position:relative;left:5%;width:30%" required>

                        <br>
                        <br>

                        <label for="PPhone"><i id="fu" class="fa fa-phone"> :</i>
                        </label>
                        <input id="PPhone" name="PPhone" class="form" type="tel" placeholder="Rufnummer (bitte mit +49)"
                            required><br><br>



                        <label for="PMail"><i id="fu" class="fa fa-envelope"> :</i>
                        </label>
                        <input id="PMail" name="PMail" class="form" type="email" placeholder="Example@domain.com"
                            required>

                        <br>
                        <br>

                        <label for="PPick-up"><i id="fu" class="fa fa-dot-circle-o" aria-hidden="true"> :</i></label>

                        <input id="PPick-up" name="PPick-up" class="form" type="text" placeholder="Abholort">

                        <br>
                        <br>
                        <label for="PDrop"><i id="fu" class="fa fa-map-marker" aria-hidden="true"> : </i></label>

                        <input id="PDrop" class="form" name="PDrop" type="text" placeholder="Zielort">

                        <br>
                        <br>


                        <label for="PInsurance"><i id="fu" class="fa fa-medkit" aria-hidden="true"> :</i></label>
                        <select id="PInsurance" name="PInsurance" class="form">
                            <option class="op">Staatliche Krankenversicherung</option>
                            <option class="op">Private Krankenversicherungen</option>
                            <option class="op">Berufsgenossenschaft</option>


                        </select><br><br>
                        <label id="fu" for="PDate">Datum :</label>


                        <input class="form" id="PDate" name="PDate" type="date" style="width:15%">

                        <label id="fu" for="PTime" style="position:relative;left:5%">Zeit :</label>
                        <input class="form" id="PTime" name="PTime" type="time"
                            style="position:relative;left:5%;width:15%">
                        <br>
                        <br>

                        <label for='Doctor-letter'><i id="fu" class="fa fa-file-text" aria-hidden="true"> Verordnung
                                einer Krankenbeförderung
                                :</i></label><br>
                        <input id="Doctor-letter" name="Doctor-letter" class="form" style="border-radius:0;" type="file"
                            placeholder="" style="width:92%;padding-left:0">
                        <br>
                        <br>



                        <label for='P-letter'><i id="fu" class="fa fa-file-text" aria-hidden="true"> Befreiungsausweis/
                                Krankenkassengenehmigung (optional) :</i></label><br>
                        <input id="P-letter" name="P-letter" class="form" style="border-radius:0;" type="file"
                            placeholder="" style="width:92%;padding-left:0">
                        <br>
                        <br>
                        <p class="fs-5" style="color:rgb(255, 255, 255)">Durch das klicken auf der Schaltfläche "Buchung
                            stornieren", akzeptieren Sie unsere <a class="fs-5" href="/datenschutz"
                                target="_blank">DSGVO und AGB.</a></p>



                        <button name="Psub"
                            style="background-color:rgb(78, 192, 78);border-radius: 25px;width:fit-content"
                            type="button" id="Pcheck-button" onClick="pvalid()"
                            class="btn btn-primary  ">Absenden</button>
                        <button id="Pres" name="Pres"
                            style="position:relative;left:5%;background-color:red;border-radius: 25px;" type="reset"
                            class="btn btn-primary  ">Reset</button>

                        <!-- Modal -->
                        <div class="modal fade" id="ambulance_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true" style="border-radius:45px">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel" style="color:rgb(78, 192, 78)">
                                            Vielen Dank für deine
                                            Bestellung. <img src="{{url_for('static', filename='smile.png')}}"
                                                width="7%" height="7%">
                                        </h3>

                                    </div>
                                    <div class="modal-body" style="background-color: rgb(16, 16, 52)">
                                        <txt style="font-size: 70%;color:white">Sie erhalten eine Bestellbestätigung an
                                            die von Ihnen angegebene E-Mail-Adresse. Bitte klicken Sie auf ok, um die
                                            Bestellung zu bestätigen.

                                        </txt>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="ok" type="submit" class="btn btn-primary"
                                            data-bs-dismiss="modal">ok</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Modal end-->




                    </form>
                </div>

            </div>


        </div>
        <br>
        <br>
    </div>


    <div class="container-sm-fullwidth" style="position:relative;bottom:0vh;top:50vh">

        <footer class="text-center text-lg-start"
            style="background-color: rgb(240,142,33);border-top-left-radius:25px;border-top-right-radius:25px">
            <div class="container d-flex justify-content-center py-5">
                <a type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: rgb(16, 16, 52); border-radius: 50px;"
                    href="https://www.facebook.com/autoblitz.koeln/?locale=de_D">
                    <i style="color:white" class="fa fa-facebook-f"></i>
                </a>
                <a type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: rgb(16, 16, 52);border-radius: 50px;"
                    href="https://www.youtube.com/@autoblitzcologne/featured?sub_confirmation=1">
                    <i style="color:white" class="fa fa-youtube"></i>
                </a>
                <a type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: rgb(16, 16, 52);border-radius: 50px;"
                    href="https://www.instagram.com/autoblitz_c/">
                    <i style="color:white" class="fa fa-instagram"></i>
                </a>
                <a type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: rgb(16, 16, 52);border-radius: 50px;"
                    href="https://twitter.com/intent/follow?screen_name=Autoblitz_C">
                    <i style="color:white" class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="container d-flex justify-content-center ">
                <a id="datap" type="button" href="/datenschutz" target="_blank">Datenschutz</a>
                <span class="vertical-line"></span>
                <a id="datap" type="button" href="/impressum" target="_blank">Impressum</a>
            </div>

            <!-- Copyright -->
            <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="mailto:kontakt@tm-marketingservice.de">TM-Marketing Service</a>
            </div>
            <!-- Copyright -->
        </footer>


    </div>



    <script type="text/javascript">
        function pvalid() {
            if (document.getElementById("PName").value == "") {
                alert("Bitte geben Sie Ihren vollständigen Namen ein")
            }
            else if (document.getElementById("PAge").value == "") {
                alert("Bitte geben Sie Ihren alter ein")
            }
            else if (document.getElementById("PPhone").value == "" || document.getElementById("PPhone").value.includes("+", 0) == false) {
                alert("Bitte geben Sie eine gültige Telefonnummer mit Landesvorwahl ein (z.B. +49).")
            }
            else if (document.getElementById("PMail").value == "" || document.getElementById("PMail").value.includes("@") == false) {
                alert("Bitte geben Sie die gültige E-Mail-Adresse ein")
            }
            else if (document.getElementById("PPick-up").value == "" || document.getElementById("PDrop").value == "") {
                alert("Bitte wählen Sie den gültigen Abhol- und Abgabeort aus dem Dropdown-Menü, wenn die Eingabefelder für die Abholung und Abgabe ausgewählt sind.")
            }
            else if (document.getElementById("PDate").value == "" || document.getElementById("PTime").value == "") {
                alert("Bitte wählen Sie das Datum und die Uhrzeit der Fahrt")

            }
            else if (document.getElementById("Doctor-letter").value == "") {
                alert("Bitte laden Sie Ihr ärztliches Attest hoch")

            }
            else {
                $("#ambulance_modal").modal('toggle');
            }

        }
    </script>
    <script type="text/javascript">
        touchElement.addEventListener('check-button', function () {
            display()

        });

        function display() {
            let formData = new FormData(document.getElementById('booking'));

            // Send an AJAX request to the Flask route
            fetch('/booking', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    // Do something with the response data
                    console.log(data);
                })
                .catch(error => console.error(error));
            if (document.getElementById("Name").value == "") {
                alert("Bitte geben Sie Ihren vollständigen Namen ein")
            }
            else if (document.getElementById("Phone").value == "" || document.getElementById("Phone").value.includes("+", 0) == false) {
                alert("Bitte geben Sie eine gültige Telefonnummer mit Landesvorwahl ein (z.B. +49).")
            }
            else if (document.getElementById("Mail").value == "" || document.getElementById("Mail").value.includes("@") == false) {
                alert("Bitte geben Sie die gültige E-Mail-Adresse ein")
            }
            else if (document.getElementById("Pick-up").value == "" || document.getElementById("Drop").value == "") {
                alert("Bitte wählen Sie den gültigen Abhol- und Abgabeort aus dem Dropdown-Menü, wenn die Eingabefelder für die Abholung und Abgabe ausgewählt sind.")
            }
            else if (document.getElementById("Pick-h-no").value == "" || document.getElementById("Drop-h-no").value == "") {
                    alert("Bitte geben Sie die Hausnummer für die Abholung und Zielort an.")
                }
            else if (document.getElementById("Date").value == "" || document.getElementById("Time").value == "") {
                alert("Bitte wählen Sie das Datum und die Uhrzeit der Fahrt")

            }
            else {

                calcRoute()


            }
        }
    </script>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/src"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="{{url_for('static', filename='book.js')}}"></script>

    </div>
</body>

</html>