<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MMRTVMZ');</script>
    <!-- End Google Tag Manager -->
    <title>Impressum</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='autoblitz_logo-removebg.png')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='book.css')}}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
        button {
            background: #5469d4;
            font-family: Arial, sans-serif;
            color: #ffffff;
            border-radius: 4px;
            border: 0;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            display: block;
            transition: all 0.2s ease;
            box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
            
        }

        button:hover {
            background-color: rgb(240, 142, 33);
        }
        #scroll-to-top {
      display: none; /* Initially hidden */
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #f3960a;
      color: white;
      cursor: pointer;
      padding: 12px;
      border-radius: 50%;
    }
    </style>


</head>

<body style="padding:3%">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMRTVMZ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <button style='border-radius:25px' onclick="goBack()"> Zurückgehen</button><br>
    <button id="scroll-to-top" onclick="scrollToTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></button><br>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script>
        // Show the scroll-to-top button when scrolling down
        window.addEventListener('scroll', scrollFunction);
      
        function scrollFunction() {
          var scrollButton = document.getElementById("scroll-to-top");
          if (window.pageYOffset > 20) {
            scrollButton.style.display = "block";
          } else {
            scrollButton.style.display = "none";
          }
        }
      
        // Scroll to top when the button is clicked
        function scrollToTop() {
          window.scrollTo({ top: 0, behavior: 'smooth' });
        }
      </script>
    <h2>Impressum</h2>

    <p>Auto-Blitz Funkmietwagen Gesellschaft mit mbH<br />Keupstraße 26<br />51063 Köln</p>
    <p>Telefon: 0221612277<br />E-Mail: <a href="mailto:info
        @autoblitz-koeln.de">info@autoblitz-koeln.de</a><br /></p>
    <p><strong>Vertreten durch:</strong><br />Bahman Haraty</p>
    <p><strong>Registereintrag:</strong><br />Eingetragen im Handelsregister.<br />Registergericht: Amtsgericht
        Köln<br />Registernummer: HRB 3041</p>
    <p><strong>Umsatzsteuer-ID: </strong><br />Umsatzsteuer-I
        dentifikationsnummer nach §27a Umsatzsteuergesetz:<br />DE267582337</p><br />
    <h2>Hinweis gem&auml;&szlig; Online-Streitbeilegungs-Verordnung</h2>
    <p>Nach geltend
        em Recht sind wir verpflichtet, Verbraucher auf die Existenz der Europ&auml;isch
        en Online-Streitbeilegungs-Plattform hinzuweisen, die f&uuml;r die Beilegung von
        Streitigkeiten genutzt werden kann, ohne dass ein Gericht eingeschaltet werden
        muss. F&uuml;r die Einrichtung der Plattform ist die Europ&auml;ische Kommission
        zust&auml;ndig. Die Europ&auml;ische Online-Streitbeilegungs-Plattform ist hier
        zu finden: <a href="http://ec.europa.eu/odr" target="_blank" rel="nofollow">http://ec.europa.eu/odr</a>. Unsere
        E-Mail lautet: <a href="mailto:info@autoblitz-k
        oeln.de">info@autoblitz-koeln.de</a></p>
    <p>Wir weisen aber darauf hin, dass wir
        nicht bereit sind, uns am Streitbeilegungsverfahren im Rahmen der Europ&auml;ischen
        Online-Streitbeilegungs-Plattform zu beteiligen. Nutzen Sie zur Kontaktaufnahme bitte unsere obige E-Mail und
        Telefonnummer.</p><br />
    <h2>Hinweis gem&auml;&
        szlig; Verbraucherstreitbeilegungsgesetz (VSBG)</h2>
    <p>Wir sind nicht bereit und
        verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p><br /><br />
    <h2>Disclaimer – rechtliche Hinweise</h2>§ 1 Warnhinweis zu Inhalten<br />Die kostenlosen und frei zugänglichen
    Inhalte dieser
    Webseite wurden mit größtmöglicher Sorgfalt erstellt. Der Anbieter dieser Webseite übernimmt jedoch keine Gewähr für
    die Richtigkeit und Aktualität der bereitgestellten kostenlosen und frei zugänglichen journalistischen Ratgeber und
    Nachrichten. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung
    des Anbieters wieder. Allein durch den Aufruf der
    kostenlosen und frei zugänglichen Inhalte kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter
    zustande, insoweit fehlt es am Rechtsbindungswillen des Anbieters.<br /><br />§ 2 Externe Links<br />Diese Website
    enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites unterliegen der
    Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden
    Inhalte daraufhin überprüft, ob etwaige Recht
    sverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der
    Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und
    auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die
    hinter dem Verweis oder Link liegenden Inhalte
    zu Eigen macht. Eine ständige Kontrolle der externen Links ist für den Anbieter
    ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige
    externe Links unverzüglich gelöscht.<br /><br />§ 3 Urheber- und
    Leistungsschutzrechte<br />Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und
    Leistungsschutzrecht. Jede
    vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen
    Zustimmung des Anbieters oder jeweiligen Recht
    einhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung
    , Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder
    anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die
    unerlaubte Vervielfältigung oder Weitergabe ein
    zelner Inhalte oder kompletter Seiten ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und
    Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt.<br /><br />Die Darstellung
    dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig.<br /><br />§ 4
    Besondere Nutzungsbedingungen<br />Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von den
    vorgenannten Paragraphen abweichen, wird an entsprechender Stelle ausdrücklich darauf hingewiesen. In diesem Falle
    gelten im jeweiligen Einzelfall die besonderen Nutzungsbedingungen.<p>Quelle: <a href="https:/
        /www.juraforum.de/impressum-generator/">Link klicken</a></p>
</body>