<!DOCTYPE html>
<html lang="de">

<head>
     <!-- Google Tag Manager -->
     <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MMRTVMZ');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>booking_status</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='autoblitz_logo-removebg.png')}}">



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
    <script>
        $(document).ready(function () {
    var pollFlag = false;

    function startPolling() {
        setTimeout(function () {
            if (!pollFlag) {
                $.ajax({
                    type: "GET",
                    url: "/booking_status",
                    dataType: "json",
                    success: function (response) {
                        if (response.status === "succeeded") {
                            pollFlag = true;
                            document.getElementById("loading").style.display = "none"
                            $('#booking-container').html('');
                            $('#booking-container').load(response.template);
                        } else {
                            document.getElementById("loading").style.display = "block";
                        }
                    },
                    complete: function () {
                        startPolling(); // Call startPolling() again after the AJAX call has completed
                    }
                });
            } else {
                startPolling(); // Call startPolling() again if pollFlag is true (i.e. if a previous AJAX call is still in progress)
            }
        }, 5000); // Wait for 5 seconds before triggering the AJAX call
    }

    startPolling(); // Start polling on page load
});

    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMRTVMZ" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="booking-container" class="container-sm-fullwidth "></div>
    <div id="loading" style="display: block">
        <br><br>
        <h1 style="text-align:center">Die Buchung wird bearbeitet. Es kann bis zu 2 Minuten dauern. </h1><br>
        <div style="display:flex;justify-content:center"><img style="width: 40%;"
                src="{{url_for('static', filename='loading.gif')}}" alt="loading">
        </div>
    </div>


</body>

</html>